#gridCurso {
    width: max-content;
    background-color: #FFF000;
    margin: 0 auto;
}

img {
    float:right;
    height:100%;
}

span {
    display: flex;
    align-items: center;
    gap: .1em;
}

h3 {
    line-break: anywhere;
    font-weight: 700!important;
}

.professor {
    line-break: anywhere;
    margin-top: .5em;
    font-size: .8em;
    font-weight: 500;
}