.containerProfessor {
    background: url(../../assets/images/HomeProfessor/bg1.png) no-repeat;
}

.containerProfessor2 {
    background: url(../../assets/images/HomeProfessor/bg2.png) no-repeat;
}

#containerPadding {
    padding: 10%;
}

.textBox {
    background-color: rgb(213 206 200 / 60%);  
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 4.5em 0px;
}

#headerEncontre {
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 2.5em;
    line-height: 2em;
}

.vantagens {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 2em;
}

.card {
    margin: 0 1em;
    margin-top: 1em;
    width: auto;
    text-align: center;
    line-height: normal;
    padding: 1em;
}

.card:hover{
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 50%);
}

#headerCursosDestaque {
    text-align: center;
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 2em;
    line-height: 2em;
    margin-bottom: 1em;
}

#headerPrincipaisCategorias {
    text-align: center;
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 2em;
    line-height: 2em;
    margin-top: 1em;
}

#sectionComecarProf {
    padding: 2em 0;
    background-color: rgb(215 196 183 / 20%);  
    text-align: center;
}

#header1Prof{
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 2em;
    margin-bottom: 1em;
}

#header2Prof{
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

#btnComecar{
    width: 15%;
    height: 3em;
}

.divComecar {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2.5em;
    margin: 0 auto;
    margin-top: 2em;
    min-width: 40%;
    width: max-content;
}

.tituloVantagem {
    font-weight: 700;
    font-size: 1.2em;
    padding: 1em;
}

.subtituloVantagem {
    font-weight: 500;
    font-size: 1em;
}